{% extends 'dentalinfo/base.html' %}

{% block title %}
    Delete Patient
{% endblock %}

{% block content %}
    <form
        action="{{ patient.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            patient {{ patient }}?
        </p>
        <a href="{{ patient.get_absolute_url }}"
           class="button button-primary">
        Cancel</a>
        <button type="submit" class="button button-primary">Delete Patient</button>
    </form>
{% endblock %}
